body {
  background-color: rgb(247, 165, 59);
  color: black;
  text-align: center;
}
ul {
  list-style: none;
}
a {
color: rgb(255, 166, 0);
    text-shadow: 2px 2px 4px black;
    font-weight: bold;
    align-content: center;
}
a:hover {
color:  lightgoldenrodyellow;
}
a:active {
color:rgb(87, 10, 10);
}

hr {
  border-bottom: 1px dashed pink;
  padding-top: 1px;
}
li {
    font-weight: bold;
    align-content: center;
    display:inline;
}
.holy-grail-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
  -ms-grid-rows: 1fr 8fr 1fr;
      grid-template-rows: 1fr 8fr 1fr;
  grid-gap: 20px;
  height: 100vh;
}


/* .holy-grail-header {
    background-color: white;
    margin: 0 auto;
    padding-top: 25px;
} */
.img01 {
  width: 50px;
  height: 60px;
}
.img02 {
  width: 400px;
  height: 300px;
  align-content: left;
  padding-top: 50px;
  padding-bottom: 10px;
}
h1 {
  margin-top: 0px;
  margin-bottom: 3px;
  text-align: center;
  font-family: 'Kirang Haerang', cursive;
  font-size: 6rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: #d46784;
  text-shadow: 5px 6px 5px black;
          
             
    }

h2 {
  color:#d46784;
  font-size: 30px;
  text-shadow: 2px 2px 2px black;
  text-align: center;
  font-family: 'Kirang Haerang', cursive;
}
h3 {
  color:rgb(241, 213, 100);
  text-shadow: 3px 3px 3px black;
  text-align: center;
  text-align: left;
}
h6 {
  align-content: left;
  color:rgb(247, 165, 59);
  text-align: left;
  font-weight: bolder;
}

.holy-grail-left {
  background-color:rgb(247, 165, 59); 
  padding-top: 10px;
  padding-left: 100px;
}
.holy-grail-middle {
    background-color:#73bedf;
    border: 10px #021927;
    border-style: double;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 10px;
    border-radius: 15px 50px 30px 5px;
}
.holy-grail-right,
.holy-grail-footer {
  padding: 1rem;
  border: none;
  background-color: white;
}

.holy-grail-header {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
      align-content: left;
}

@media screen and (max-width: 100em) {
  .holy-grail-grid {
    -ms-grid-rows: 2fr 1fr 5fr 1fr;
  }
}

@media screen and (max-width: 40em) {
  .holy-grail-left {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
  }
}

@media screen and (max-width: 60em) {
  .holy-grail-middle {
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    align-content: center;
  }
}

.holy-grail-footer {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  background-color: rgb(247, 165, 59);
}
.form-control {
  width: 500px;
  padding-left: 100px;
  align-content: left;
}
.mncontent {
  text-align: left;
}
.list-group {
  width: 500px;
  align-items: left;
}
.playlist-group{
  width: 500px;
  align-content: left;
  padding-right: 10px;
}
.side {
  align-content: left;
}